html, body {
  min-width: 1100px;
  min-height: 600px;
}

body {
  background-color: #1b1b1b;
}

main {
  display: flex;
}

/* */


/* Debuff container */
#debuffContainer {
  color: white;
  padding: 1em;
  text-align: right;
  width: 15%;
  margin-left: auto;
}

#debuffContainer .debuff-item {
  display: inline-block;
  text-align: right;
}

#debuffContainer .debuff-item strong {
  font-size: 18px;
}

#debuffContainer .debuff-item .debuff-desc {
  display: inline;
  align-items: center;
  margin-bottom: 1em;
}

#debuffContainer .debuff-item p {
  font-size: 12px;
  padding: 0;
  margin: 0;
}


/* Perk container */
#perkContainer {
  color: white;
  padding: 1em;
  width: 250px;
  margin-right: auto;
}

#perkDisplay {
  max-height: 100%;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

#perkDisplay.closed {
  max-height: 0;
}

/* ---------- Arrow for accordion ---------- */
#perkContainer .arrow {
  display: inline-block;
  transition: transform 0.3s ease;
  margin-right: 8px;
}

#perkContainer .arrow.open {
  transform: rotate(-90deg);
}

/* ---------- Perk items ---------- */
#perkContainer .perk-item {
  display: inline-block;
}

#perkContainer .perk-item strong {
  font-size: 18px;
}

#perkContainer .perk-item p {
  font-size: 12px;
  padding: 0;
  margin: 0;
}

#perkContainer .perk-item button {
  width: 70px;
  margin-left: 1em;
}

#perkContainer .perk-desc {
  display: inline-flex;
  align-items: center;
  margin-bottom: 1em;
}