
/* very simple */

.nav-container {
    width: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  }

main {
    font-family: "PT Serif";
    color: #fff;
    text-align: center;
    margin-top: 5%;
    padding-inline: 20%;;
}

.table thead th {
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}
